/* Catppuccin Mocha */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
      font-family: "JetBrainsMono Nerd Font", monospace;
      font-size: 13px;
      font-weight: bold;
}

window#waybar {
      background-color: @base;
      color: @text;
}

#workspaces button {
      padding: 0 6px;
      color: @text;
      background: transparent;
      border-bottom: 3px solid @base;
}

#workspaces button.active {
      color: @blue;
      border-bottom: 3px solid @mauve;
}

#workspaces button.empty {
      color: @overlay0;
}

#workspaces button.empty.active {
      color: @sky;
      border-bottom: 3px solid @mauve;
}

#workspaces button.urgent {
      background-color: @red;
}

button:hover {
      background: inherit;
      box-shadow: inset 0 -3px @overlay1;
}

#clock,
/* #custom-sep, */
#battery,
#cpu,
#memory,
#disk,
#network,
#backlight,
#pulseaudio,
#tray {
      background-color: @surface0;
      border-radius: 15px;
      padding-left: 12px;
      padding-right: 12px;
      margin-top: 3px;
      margin-bottom: 3px;
}

#custom-sep {
      color: @overlay0;
      /* Was @brblk */
}

#clock {
      color: @sky;
}

#battery {
      color: white;
}

#disk {
      color: @yellow;
}

#backlight {
      color: @peach;
}

#pulseaudio {
      color: paleturquoise
}

#memory {
      color: @mauve;
}

#cpu {
      color: @green;
}

#network {
      color: @blue;
}

#network.disconnected {
      background-color: @red;
}

#tray {
      background-color: @surface0;
      /* Was hardcoded #2980b9 */
}
